<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/categories">category list</a>
<table border="1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}">
            <td><img width="150" height="150" th:src="@{'/img/' + ${product.image}}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>